@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap");
/*
*  html5resetcss
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 100%;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #000;
  background-color: #fafafa;
  font-size: 15px;
  line-height: 1.5;
}

.wrapper {
  max-width: 1430px;
  margin: 0 auto;
  padding: 25px;
}

.main {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.main h1, .main h2, .main p {
  font-family: "Poppins";
}

.main h1, .main h2 {
  color: #4c4e61;
  font-size: 32px;
}

.main h1 {
  margin-top: 40px;
  font-weight: 200;
}

.main h2 {
  font-weight: 600;
}

.main p {
  margin-top: 15px;
  font-weight: 400;
  color: #a3a5ae;
  line-height: 1.75;
  font-size: 14px;
}

.content {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .super,
.content .team,
.content .karma,
.content .calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 30px;
  background-color: #fff;
  margin: 20px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 15px rgba(16, 54, 104, 0.253);
          box-shadow: 0 10px 15px rgba(16, 54, 104, 0.253);
  max-width: 310px;
  height: 220px;
  font-family: "Poppins";
}

.content .super h3,
.content .team h3,
.content .karma h3,
.content .calculator h3 {
  font-size: 18px;
  color: #4c4e61;
  margin-bottom: 5px;
}

.content .super p,
.content .team p,
.content .karma p,
.content .calculator p {
  font-weight: 400;
  font-size: 13px;
  color: #a3a5ae;
}

.content .super img,
.content .team img,
.content .karma img,
.content .calculator img {
  margin-top: 25px;
  max-width: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.content .super {
  border-top: 3px solid #45d3d3;
}

.content .team {
  border-top: 3px solid #ea5353;
}

.content .karma {
  border-top: 3px solid #fcaf4a;
}

.content .calculator {
  border-top: 3px solid #549ef2;
}

@media (max-width: 1040px) {
  .content {
    display: -ms-grid;
    display: grid;
  }
}

@media (max-width: 500px) {
  .wrapper {
    padding: 5px;
  }
  .main h1,
  .main h2 {
    font-size: 20px;
  }
  .main p {
    max-width: 90%;
    margin: 20px auto;
  }
  .content {
    margin-top: 0;
  }
  .content .super,
  .content .team,
  .content .karma,
  .content .calculator {
    margin: 10px 10px;
  }
  .content .group .karma {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */